* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  color: #2b4141;
}

body {
  font-family: 'Lexend Exa', sans-serif;
  color: #313131;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  height: 3em;
  width: 100%;
  background-color: #2b4141;
  color: #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 2px solid #0eb1d2;
}

a, a:visited, a:active {
  color: #d6d6d6;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover, a:focus {
  color: white;
}

a:hover::after, a:focus::after {
  width: 100%;
  left: 0;
}

a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#main-icon {
  margin-left: 2vw;
}

#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#nav-links > * {
  margin-right: 5vw;
}

#hamburger {
  display: none;
  margin-right: 5vw;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: #2b4141;
  border-left: 2px solid #0eb1d2;
  border-bottom: 2px solid #0eb1d2;
  width: 40%;
  padding: 30px;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.dropdown > a {
  display: block;
  text-align: center;
}

#intro {
  height: calc(100vh - 3em);
  background: linear-gradient(60deg, #0eb1d2, #2b4141);
  background-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

#intro::after {
  content: "";
  position: absolute;
  top: 73%;
  left: -10;
  background: url(images/aaa2.svg) no-repeat;
  width: 120%;
  height: 50%;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  margin-right: 50px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7em;
}

#intro > ul > li {
  margin: 10px;
  list-style-type: none;
}

#portrait {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  border: 5px solid #2b4141;
}

#projects {
  padding-top: 15rem;
  padding-bottom: 10rem;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#8ab9b5), to(#c8c2ae));
  background: linear-gradient(90deg, #8ab9b5, #c8c2ae);
  background-size: 150%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.card {
  height: 30vh;
  max-height: 300px;
  width: 30vw;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.card-preview {
  height: 70%;
  min-height: 200px;
  border: 3px solid #2b4141;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  position: relative;
}

.card-preview:hover::after {
  height: 100%;
  left: 0;
}

.card-preview:hover {
  color: #d6d6d6;
}

.card-preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.card-preview > a {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 2;
}

.project-image {
  height: 100%;
  width: 100%;
}

.card-description {
  min-height: 30%;
  color: #d6d6d6;
  background-color: #2b4141;
  position: relative;
}

.card-description::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  background: url(images/bbb.svg) no-repeat;
  height: 70%;
  width: 100%;
}

#contacts {
  height: 40vh;
  background-color: #2b4141;
  color: #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Media queries for different displays*/
@media only screen and (max-width: 1024px) {
  #intro::after {
    top: 85%;
    height: 30%;
  }
  #projects {
    height: auto;
    padding: 8em 0 4em;
    -ms-grid-columns: (minmax(400px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-row-gap: 20vh;
  }
  .card-description::after {
    top: 98%;
  }
}

@media only screen and (max-width: 764px) {
  #intro::after {
    top: 89%;
  }
  .introduction {
    padding-top: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30vh;
    height: auto;
    padding: 5rem 0 10rem;
  }
  #nav-links {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .card {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */